<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">YouHaveIssues</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dotnet/aspnetcore" Match="NavLinkMatch.All">
                AspNetCore
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dotnet/extensions" Match="NavLinkMatch.All">
                Extensions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dotnet/efcore" Match="NavLinkMatch.All">
                EF Core
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dotnet/ef6" Match="NavLinkMatch.All">
                EF 6
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dotnet/winforms" Match="NavLinkMatch.All">
                WinForms
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dotnet/winforms-designer" Match="NavLinkMatch.All">
                WinForms Designer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dotnet/runtime" Match="NavLinkMatch.All">
                Runtime
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
