@page "/"
@inject IssueDashboard.Data.Repository Repository

<table>
    <thead>
        <tr>
            <th>Milestone</th>
            <th>Area</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Repository.Milestones)
        {
            foreach (var a in m.Areas.Values)
            {
                <tr>
                    <td>@m.Name</td>
                    <td>@a.Name</td>
                    <td>@a.Count</td>
                </tr>
            }
        }
    </tbody>
</table>
